NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/unikart?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkeythatshouldbechanged
JWT_EXPIRE=30d
CLIENT_URL=http://localhost:5173
